@CHARSET "UTF-8";

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    color:#555555;
}

#pageContainer {
    width: 715px;
    margin:17px auto;
}

#header {
    height:131px;
}

.thankyou {
    width:100%;
    position:relative;
}
.thankyou img {
    display: inline-block;
}
.thankyou-note {
    float: left;
    width: 335px;
}
.thankyou-car {
    float: right;
    margin-top: 80px;
}
.thankyou-spinner {
    float: left;
    width: 335px;
    text-align: center;
    margin-top: 90px;
}

footer {
    display: block;
    clear: both;

    width:100%;
    margin: 10px 0;
    border-top: 1px solid #ebebeb;
    padding-top: 10px;

    color:#959595;
    font-size:11px;
}